@import '../styles/viewports.css';

.w-layout-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

h1 {
    color: var(--black);
    font-size: 64px;
    line-height: 72px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.03em;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--black);
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.02em;
}

@keyframes MoveUpDown {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}

.particul {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: none;
    animation: MoveUpDown 5s linear infinite;
}

@media (--lg) {
    .particul {
        display: block;
    }
}


.hero {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.body {
    font-family: var(--base-font-family);
    color: #f3f3f3;
    font-size: 64px;
    line-height: 72px;
    font-weight: 400;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.hero-container {
    width: 100%;
    height: 100%;
}

.bg-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: none;
}

.bg-image-mobile {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

@media (--lg) {
    .bg-image-mobile {
        display: none;
    }

    .bg-image {
        display: block;
    }
}

.bg-image-mask {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.hero-right-area {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 200px;
    padding: 16px;
    z-index: 3;
}

.hero-title {
    width: 100%;
    max-width: 600px;
    margin-bottom: 60px;
}

.button {
    cursor: pointer;
}

@media (--lg) {
    .hero-right-area {
        width: 40%;
        margin-top: 0;
        margin-left: auto;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
    }

    .hero-title {
        padding-right: 20px;
    }
}

.image {
    position: absolute;
    left: auto;
    top: 88px;
    right: 0;
    bottom: 0;
}

.story-container {
    display: flex;
    margin: 108px auto 0 auto;
    max-width: 1440px;
    flex-direction: column;
    align-items: center;
}

.video {
    position: absolute;
}

.image-2 {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.story-vid {
    position: relative;
    display: inline-block;
}

._2nd-title {
    position: relative;
    display: flex;
    margin-bottom: 16px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
}

.story-nail {
    position: absolute;
    right: 100px;
    top: 0;
}

.heading {
    margin-top: 0;
    margin-bottom: 12px;
    color: var(--black);
    font-size: 64px;
    line-height: 72px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.03em;
}

.heading.color-w {
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
    text-align: left;
}

.heading.margin-4px {
    margin-bottom: 4px;
}

.decorative {
    max-width: 272%;
}

._2nd-title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nails {
    display: block;
}

.roadmap-container {
    display: flex;
    max-width: 100%;
    margin-top: 128px;
    padding: 0 190px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roadmap-container > .link-block {
    margin-top: 48px;
}

.heading-2 {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--black);
    font-size: 56px;
    line-height: 64px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.03em;
}

.text-block {
    text-decoration: none;
}

.link-block {
    position: relative;
    padding: 12px 24px;
    font-size: 20px;
    border: 2px solid var(--black);
    background-color: var(--white);
    white-space: nowrap;
}

.link-block::before, .link-block::after {
    content: '';
    position: absolute;
    top: 2px;
    left: -10px;
    width: 10px;
    height: calc(100% + 4px);
    background: var(--black);
    -webkit-transform: skewY(-45deg);
    transform: skewY(-45deg);
    transition: all .3s ease-in-out;
}

.link-block::after {
    height: 10px;
    width: calc(100% + 4px);
    bottom: -10px;
    left: -6px;
    top: auto;
    right: auto;
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
}

.link-block:hover {
    background-color: #CECECE
}

.link-block.bg-w {
    margin-top: 0;
    background-color: #fff;
}

.text-block-2 {
    color: var(--black);
    line-height: 32px;
}

.grid {
    margin-top: 32px;
    grid-column-gap: 95px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.phase-grid {
    display: grid;
    margin-top: 32px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 32px;
}

@media (--lg) {
    .phase-grid {
        display: grid;
        margin-top: 32px;
        grid-column-gap: 95px;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }

    .phase-div:nth-child(2) {
        margin-top: 92px;
    }
}

.phase-div {
    position: relative;
    display: grid;
    height: 328px;
    width: 290px;
    padding: 40px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    border: 2px solid var(--black);
}

.phase-div::before, .phase-div::after {
    content: '';
    position: absolute;
    top: 2px;
    left: -10px;
    width: 10px;
    height: calc(100% + 4px);
    background: var(--black);
    -webkit-transform: skewY(-45deg);
    transform: skewY(-45deg);
}

.phase-div::after {
    height: 10px;
    width: calc(100% + 4px);
    bottom: -10px;
    left: -6px;
    top: auto;
    right: auto;
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
}

.phase-title {
    color: var(--black);
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.02em;
}

.seperator {
    width: 48px;
    height: 2px;
    background-color: var(--black);
    color: var(--black);
}

.body-m {
    max-width: 512px;
    margin-top: 24px;
    color: var(--black);
    font-size: 20px;
    line-height: 32px;
    text-align: left;
}

.body-m.color-g {
    margin-top: 12px;
    color: #8e8e8e;
}

.body-m.bm-24px {
    margin-top: 0;
    margin-bottom: 24px;
}

.nft-slider-container {
    max-width: 100%;
    margin-top: 148px;
}

.slider {
    margin-top: 148px;
}

.flickity-slider > img {
    margin-right: 40px;
}

.slide-nav {
    display: none;
}

.tokenomics {
    display: flex;
    max-width: 100%;
    margin-top: 128px;
    padding-right: 80px;
    padding-left: 80px;
    flex-direction: column;
    align-items: center;
}

.image-3 {
    display: block;
}

.image-4 {
    display: block;
}

.image-5 {
    display: block;
}

.slide {
    overflow: visible;
}

.slide-2 {
    overflow: visible;
}

.tokenomics-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-6 {
    display: block;
}

.text-block-3 {
    color: var(--black);
}

.tokenomics-share {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 48px 72px;
    background-color: var(--black);
    max-width: 1440px;
    width: 100%;
}

.tokenomics-wrapper {
    margin-top: 56px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.seperator-tokenomics {
    display: none;
}

@media (--lg) {
    .seperator-tokenomics {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .tokenomics-wrapper {
        padding: 40px 50px;
    }

    .tokenomics-share {
        flex-direction: row;
        background-color: var(--black);
    }
}

.tokenomics-1:not(:first-child) {
    margin-top: 66px;
    padding-top: 66px;
    border-top: 2px solid #303030;
}

@media (--lg) {
    .tokenomics-1:not(:first-child) {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
    }

    .tokenomics-1:not(:last-child) {
        margin-right: 66px;
        padding-right: 66px;
        border-right: 2px solid #303030;
    }
}

.body-button {
    max-width: 512px;
    margin-top: 24px;
    color: var(--black);
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.02em;
}

.t-title-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.div-block {
    display: flex;
    margin-left: 16px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 100px;
}

.badge {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.div-block-2 {
    display: flex;
    align-items: stretch;
}

.metaverse-contain {
    margin: 108px auto 0 auto;
    max-width: 1440px;
}

.heading-3 {
    max-width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--black);
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
    letter-spacing: -0.02em;
}

.metaverse-title-div {
    display: flex;
    margin-bottom: 32px;
    justify-content: center;
    text-align: center;
}

.team {
    max-width: 100%;
    padding-right: 190px;
    padding-left: 190px;
}

.team-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-peoples {
    display: flex;
    margin-top: 80px;
    margin-bottom: 48px;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.tp-1 {
    display: flex;
    max-width: 180px;
    flex-direction: column;
    text-decoration: none;
}

.tp-1.rm-40px {
    margin-right: 40px;
    text-decoration: none;
}

.avatar-name {
    margin-top: 24px;
    margin-bottom: 4px;
}

.avatar-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #8b8b8b;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.24em;
}

.grid-2 {
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.cta {
    margin-top: 120px;
    width: 100%;
    position: relative;
}

.cta-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cta-head {
    max-width: 368px;
    color: #fff;
    text-align: left;
    font-size: 32px;
    line-height: 32px;
    text-shadow: -7px 6px 0 rgba(0, 0, 0, .8);
    padding: 0 20px;
}

@media(--lg){
    .cta-head {
        font-size: 64px;
        line-height: 72px;
        padding: 0;
    }
}

.cta-image {
    width: 100%;
    height: auto;
}

.footer {
    max-width: 100%;
    margin-top: 96px;
    padding: 20px;
}

.heading-4 {
    text-align: left;
}

.div-block-4 {
    max-width: 330px;
}

.div-block-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (--lg) {
    .footer {
        max-width: 100%;
        margin-top: 96px;
        padding: 56px 270px 56px 162px;
    }

    .div-block-5 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.text-block-4 {
    color: var(--black);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.div-block-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
}

.div-block-6.bm-16px {
    margin-bottom: 16px;
    text-decoration: none;
}

.image-7 {
    margin-right: 8px;
}

.div-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.footer-rd-2 {
    margin-left: 112px;
}

.text-block-underline {
    color: var(--black);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-decoration: underline;
}

.link-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.video-with-border {
    position: relative;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px 20px;
    cursor: pointer;
}

.video-with-border > *:nth-child(2) {
    position: absolute;
    width: 120%;
    z-index: 2;
}

.video-thumbnail {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
}

.video-play-button {
    position: absolute;
    z-index: 3;
}

.footer-rd-1 > a:hover > *,
.footer-rd-1 > a:hover > * > *,
.footer-rd-2 > a:hover > *,
.footer-rd-2 > a:hover > * > * {
    color: var(--pink);
    fill: var(--pink);
}
