@import '../styles/viewports.css';
@import '../styles/variables.css';

.w-layout-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

h1 {
    color: var(--dark);
    font-size: 64px;
    line-height: 72px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.03em;
}

h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--dark);
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.02em;
}

@keyframes MoveUpDown {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}

.particul {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: none;
    animation: MoveUpDown 5s linear infinite;
    pointer-events: none;
    user-select: none;
}

@media (--lg) {
    .particul {
        display: block;
    }
}

.hero {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.hero-container {
    width: 100%;
    height: 100%;
}

.bg-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: none;
    pointer-events: none;
    user-select: none;
}

.bg-image-mobile {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
    pointer-events: none;
    user-select: none;
}

@media (--lg) {
    .bg-image-mobile {
        display: none;
    }

    .bg-image {
        display: block;
    }
}

.bg-image-mask {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    user-select: none;
}

.hero-right-area {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 80px;
    z-index: 3;
}

.hero-title {
    width: 100%;
    max-width: 400px;
    margin-top: 0;
    margin-bottom: 60px;
    color: var(--light);
    font-size: 60px;
    text-align: center;
    text-shadow: -6px 5px 0 rgba(0, 0, 0, .8);
}

.button {
    cursor: pointer;
}

@media (--sm) {
    .hero-title {
        font-size: 70px;
    }
}

@media (--xl) {
    .hero-right-area {
        width: 40%;
        margin-top: 0;
        margin-left: auto;
        align-items: flex-start;
        justify-content: center;
    }

    .hero-title {
        max-width: 500px;
        font-size: 100px;
        line-height: 100px;
        text-align: left;
    }
}

.story-container {
    display: flex;
    margin: 56px 0 0 0;
    max-width: 1440px;
    flex-direction: column;
    align-items: center;
}

@media(--lg){
    .story-container {
        margin: 108px auto 0 auto;
    }
}

._2nd-title {
    position: relative;
    display: flex;
    margin-bottom: 16px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
}

.story-nail {
    position: absolute;
    right: 100px;
    top: 0;
    pointer-events: none;
    user-select: none;
}

.heading {
    margin-top: 0;
    margin-bottom: 12px;
    color: var(--dark);
    font-size: 46px;
    line-height: 72px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.03em;
}

.heading-2 {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--dark);
    font-size: 42px;
    line-height: 72px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.03em;
}

@media (--lg) {
    .heading, .heading-2 {
        font-size: 64px;
        line-height: 84px;
    }

}

.heading.color-w {
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
    text-align: left;
}

.heading.margin-4px {
    margin-bottom: 4px;
}

.decorative {
    max-width: 272%;
    pointer-events: none;
    user-select: none;
}

._2nd-title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-block {
    position: relative;
    padding: 12px 24px;
    font-size: 20px;
    border: 2px solid var(--dark);
    background-color: var(--light);
    white-space: nowrap;
}

.link-block::before, .link-block::after {
    content: '';
    position: absolute;
    top: 2px;
    left: -10px;
    width: 10px;
    height: calc(100% + 4px);
    background: var(--dark);
    transform: skewY(-45deg);
    transition: all .3s ease-in-out;
}

.link-block::after {
    height: 10px;
    width: calc(100% + 4px);
    bottom: -10px;
    left: -6px;
    top: auto;
    right: auto;
    transform: skewX(-45deg);
}

.link-block:hover {
    background-color: #CECECE
}

.link-block.bg-w {
    margin-top: 0;
    background-color: #fff;
}

.text-block-2 {
    color: var(--dark);
    line-height: 32px;
}

.roadmap-container {
    position: relative;
    display: flex;
    max-width: 100%;
    margin-top: 56px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

@media (--lg) {
    .roadmap-container {
        margin-top: 108px;
        padding: 0;
    }
}

.roadmap-container > .link-block {
    margin-top: 48px;
}

.roadmap-title-div {
    position: relative;
}

.nuclei {
    display: none;
    pointer-events: none;
    user-select: none;
}

.roadmap-bg-r {
    display: none;
    pointer-events: none;
    user-select: none;
}

.phase-grid {
    display: grid;
    margin-top: 32px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 32px;
}

@media (--xl) {
    .phase-grid {
        display: grid;
        margin-top: 32px;
        grid-column-gap: 95px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .phase-grid > *:nth-child(2) {
        margin-top: 92px;
    }

    .roadmap-bg-r {
        display: block;
        position: absolute;
        right: 0;
        top: -220px;
        z-index: -1;
        width: 300px;
    }

    .nuclei {
        display: block;
        position: absolute;
        left: -110px;
        top: -90px;
        z-index: -1;
    }
}

.phase-div {
    position: relative;
    display: grid;
    height: 328px;
    width: 290px;
    padding: 40px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    border: 2px solid var(--dark);
    background-color: var(--extra-light);
}

.phase-div::before, .phase-div::after {
    content: '';
    position: absolute;
    top: 2px;
    left: -10px;
    width: 10px;
    height: calc(100% + 4px);
    background: var(--dark);
    transform: skewY(-45deg);
}

.phase-div::after {
    height: 10px;
    width: calc(100% + 4px);
    bottom: -10px;
    left: -6px;
    top: auto;
    right: auto;
    transform: skewX(-45deg);
}

.phase-title {
    color: var(--dark);
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.02em;
}

.seperator {
    width: 48px;
    height: 2px;
    background-color: var(--dark);
    color: var(--dark);
}

.body-m {
    max-width: 512px;
    margin-top: 24px;
    color: var(--dark);
    font-size: 20px;
    line-height: 32px;
    text-align: left;
}

.body-m.color-g {
    margin-top: 12px;
    color: #8e8e8e;
}

.body-m.bm-24px {
    margin-top: 0;
    margin-bottom: 24px;
}

.nft-slider-container {
    max-width: 100%;
    margin-top: 148px;
}

.slider {
    margin-top: 148px;
}

.flickity-slider > img {
    margin-right: 40px;
}

.tokenomics {
    display: flex;
    max-width: 100%;
    margin-top: 128px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.tokenomics-bg-r {
    pointer-events: none;
    user-select: none;
    position: absolute;
    right: 0;
    top: -190px;
    width: 350px;
    z-index: -1;
}

.image-3 {
    display: block;
    width: 400px;
}

.slide {
    overflow: visible;
}

.tokenomics-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-6 {
    display: block;
}

.tokenomics-share {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 48px 72px;
    background-color: var(--dark) !important;
    max-width: 1440px;
    width: 100%;
}

.tokenomics-wrapper {
    margin-top: 56px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.seperator-tokenomics {
    display: none;
    pointer-events: none;
    user-select: none;
}

@media (--lg) {
    .seperator-tokenomics {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .tokenomics{
        padding: 0 80px;
    }

    .tokenomics-wrapper {
        padding: 40px 50px;
    }

    .tokenomics-share {
        flex-direction: row;
    }
}

.tokenomics-1:not(:first-child) {
    margin-top: 66px;
    padding-top: 66px;
    border-top: 2px solid #303030;
}

@media (--lg) {
    .tokenomics-1:not(:first-child) {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
    }

    .tokenomics-1:not(:last-child) {
        margin-right: 66px;
        padding-right: 66px;
        border-right: 2px solid #303030;
    }
}

.body-button {
    max-width: 512px;
    margin-top: 24px;
    color: var(--dark);
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.02em;
}

.t-title-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.div-block {
    display: flex;
    margin-left: 16px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 100px;
}

.badge {
    color: var(--light);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
}

.div-block-2 {
    display: flex;
    align-items: stretch;
}

.metaverse-contain {
    margin: 56px 0 0 0;
    max-width: 1440px;
}

.heading-3 {
    max-width: 800px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--dark);
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: -0.02em;
    padding: 0 16px;
}

.metaverse-title-div {
    display: flex;
    margin-bottom: 56px;
    justify-content: center;
    text-align: center;
}

@media (--lg){
    .metaverse-contain {
        margin: 108px auto 0 auto;
    }

    .heading-3{
        font-size: 52px;
        line-height: 56px;
        padding: 0;
    }

    .metaverse-title-div {
        margin-bottom: 96px;
    }
}

.team {
    max-width: 1440px;
    margin: 0 auto;
}

.team-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-title > img{
    pointer-events: none;
    user-select: none;
}

.team-peoples {
    display: flex;
    margin-top: 80px;
    margin-bottom: 32px;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.tp-1 {
    display: flex;
    max-width: 180px;
    flex-direction: column;
    text-decoration: none;
}

.tp-1.rm-40px {
    margin-right: 40px;
    text-decoration: none;
}

.avatar-name {
    margin-top: 24px;
    margin-bottom: 4px;
}

.avatar-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #8b8b8b;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.24em;
}

.grid-2 {
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

@media (--lg) {
    .grid-2 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.cta {
    width: 100%;
    max-width: 1440px;
    margin: 120px auto 0 auto;
    position: relative;
}

.cta-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cta-head {
    max-width: 300px;
    color: #fff;
    text-align: center;
    font-size: 48px;
    line-height: 56px;
    text-shadow: -7px 6px 0 rgba(0, 0, 0, .8);
    padding: 0 20px;
    margin: 0;
}

.cta-image {
    width: 100%;
    height: auto;
    min-height: 350px;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

@media (--lg) {
    .cta-wrapper {
        flex-direction: row;
    }

    .cta-head {
        max-width: 368px;
        text-align: left;
        font-size: 64px;
        line-height: 72px;
        padding: 0;
    }

    .cta-image {
        object-fit: fill;
    }
}

.footer {
    width: 100%;
    max-width: 1440px;
    margin: 30px auto 0 auto;
    padding: 40px 0;
}

.heading-4 {
    text-align: center;
    margin-bottom: 64px;
}

.div-block-4 {
    max-width: 330px;
}

.div-block-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (--lg) {
    .footer {
        margin: 108px auto 0 auto;
    }

    .heading-4 {
        text-align: left;
        margin-bottom: 0;
    }

    .div-block-5 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.text-block-4 {
    color: var(--dark);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.div-block-6 {
    display: flex;
    text-decoration: none;
}

.div-block-6.bm-16px {
    margin-bottom: 16px;
    text-decoration: none;
}

.image-7 {
    margin-right: 8px;
}

.div-block-7 {
    display: flex;
    margin: 0 10px;
}

.footer-rd-2 {
    margin-left: 30px;
}

@media (--lg) {
    .footer-rd-2 {
        margin-left: 112px;
    }
}

.text-block-underline {
    color: var(--dark);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-decoration: underline;
}

.video-with-border {
    position: relative;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 36px 20px;
    cursor: pointer;
}

.video-with-border > *:nth-child(2) {
    position: absolute;
    width: 121%;
    z-index: 2;
    pointer-events: none;
    user-select: none;
}

.video-thumbnail {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
}

.video-play-button {
    position: absolute;
    z-index: 3;
    user-select: none;
}

.footer-rd-1 > a:hover > *,
.footer-rd-1 > a:hover > * > *,
.footer-rd-2 > a:hover > *,
.footer-rd-2 > a:hover > * > * {
    color: var(--hover);
    fill: var(--hover);
}
