:root {
    /*
    * Colors
    */
    --extra-light: #fff;
    --light: #f9f9f9;
    --dark: #020202;
    --extra-dark: #000;
    --hover: #ba9db9;

    /*
    * Shadows
    */
    --shadow-1: 0 0 3rem rgba(0, 0, 0, 0.05);
    --shadow-2: 0 1rem 2rem rgba(0, 0, 0, 0.05);
    --shadow-3: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    /*
    * Fonts
    */
    --base-font-family: 'Skranji', cursive;
    --base-font-lineheight: 1.5;

    /**
    * Z-indexes
    */
    --z-index-0: 0;
    --z-index-1: 10;
    --z-index-2: 20;
    --z-index-3: 30;
    --z-index-4: 40;
    --z-index-5: 50;
    --z-index-6: 60;
    --z-index-7: 70;
}
